<div class="jumbotron">
  <div class="row justify-content-md-center">
    <div class="col col-lg-7">
      <div class="row justify-content-md-center">
        <div class="col col-lg-3">
          <%= image_tag avatar_url(@user), size: 120 %>
        </div>
        <div class="col col-lg-4">
          <h1><%= @user.name %></h1>
          <h6><%= @user.email %></h6>
          <% if @user == current_user %>
            <%= link_to "Edit profile", edit_user_registration_path, class: "btn btn-outline-dark common-btn edit-profile-btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
